* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.center {
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.main {
    background-image: url('images/bg.svg');
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}

.menu {
    display: flex;
    width: 100%;
}

.logo-menu {
    width: 50%;
}

.logo-menu img {
    width: 233px;
    height: 46px;
}

.items-menu {
    width: 50%;
    text-align: right;
}

.items-menu a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 5px 0;
}

.items-menu a:hover {
    border-bottom: 3px solid #FFDD33;
}

.items-menu a.contact-btn {
    background-color: #0F3FD3;
    padding: 15px 20px;
    border-radius: 5px;
}

.items-menu a.contact-btn:hover {
    border-bottom: 0;
}

.mockup {
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 131px;
}

.mockup h1 {
    font-size: 54px;
    font-weight: lighter;
}

.mockup p {
    padding: 22px 0 50px 0;
}

.mockup img {
    max-width: 100%;
}


section.brands {
    padding: 100px 0;
}

section.brands img {
    width: calc(100% / 5);
}

section.porque-nos {
    padding: 40px 0;
    background-color: #FBFCFE;
}

section.porque-nos>.center {
    max-width: 1280px;
}

section.porque-nos>.center>h2 {
    font-size: 64px;
    text-align: center;
    width: 100%;
}

section.porque-nos>.center>p {
    font-size: 14px;
    color: #7E92AC;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

.diferenciais {
    display: flex;
    margin-top: 50px;
}

.box-diferenciais {
    box-shadow: 0px 20px 40px #2426721C;
    width: 31%;
    margin-right: 2%;
    padding: 10px 40px;
    border-radius: 10px;
}

.box-diferenciais h3 {
    font-size: 21px;
    color: black;
    margin: 0 0 20px 0;
}

.box-diferenciais p {
    font-size: 13px;
    color: #7E92AC;
    margin-bottom: 20px;
}

.box-diferenciais img {
    margin-left: -28px;
}

section.cta {
    background-image: url('images/banner.svg');
    background-size: cover;
    background-position: center;
    padding: 20px 10px;
    min-height: 200px;
    text-align: center;
    color: white;
}

section.cta h2 {
    font-weight: normal;
    padding: 15px 0;
    margin-top: 45px;
    font-size: 50px;
}

section.cta h4 {
    font-weight: normal;
    padding: 15px 0;
}

section.cta a {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    background: #FFDD33;
    text-decoration: none;
    color: #0F3FD3;
    text-transform: uppercase;
    margin: 30px 0 60px 0;
}

section.beneficios {
    padding: 100px 0;
}

section.beneficios>.center {
    max-width: 1280px;
    vertical-align: top;
}

.box-beneficios {
    width: 50%;
    padding: 45px 5px 0 0;
}

.box-beneficios h2 {
    font-size: 40px;
}

.lista-beneficios {
    display: flex;
    align-items: center;
    width: 100%;
    color: #7E92AC;
}

.lista-beneficios img {
    width: 70px;
}

.btn-lista-beneficios {
    margin: 25px;
}

.btn-lista-beneficios a {
    background: #0F3FD3;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 13px;
}

.img-beneficios {
    width: 50%;
    padding: 5px;
}

.img-beneficios img {
    max-width: 100%;
}


@media screen and (max-width: 768px) {

    
    .diferenciais {
        flex-wrap: wrap;
    }

    .box-diferenciais {
        width: 100%;
        margin-right: 0;
    }

    section.brands>.center {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    section.brands img {
        max-width: 200px;
        width: 100%;
    }

    .box-beneficios, .img-beneficios{
        width: 100%;
        margin-bottom: 30px;
    }
}